/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Indice*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    background-color: black; 
    font-family: 'Fira sans';
    color: white;   
    letter-spacing: 4px;
    color: rgb(88, 88, 88);
    background: #009FFF;  
    background: -webkit-linear-gradient(to right, rgb(255, 0, 38), rgb(16, 226, 121));  
    background: linear-gradient(to right, rgb(236, 47, 75), rgb(16, 226, 121)); 
    
}

.container
{
    background-color: transparent;
}

img
{
    border-radius: 5px;
}

