/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Indice*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    background-color: black; 
    font-family: 'Fira sans';
    color: white;   
    letter-spacing: 4px;
    color: rgb(0, 0, 0); 
    background: -webkit-linear-gradient(to right, rgb(34, 123, 255), rgb(100, 0, 194));  
    background: linear-gradient(to right, rgb(34, 123, 255), rgb(100, 0, 194));  
    text-align: center;
    display: flex;
    
}

.container
{
    background-color: transparent;
}


img
{
    border-radius: 7px;

}

.p1
{
    margin: 50px;
}

.p2
{
    margin: 50px;
}

.p3
{
    margin: 50px;
}